<hr>
<b><h1>ngfor</h1></b>

<h1>Movies</h1>
<ul>
    <li *ngFor="let i of movies">{{i}}</li>

    
    
</ul>
<!-- index -->
<ul>
    <li *ngFor="let item of fruits; let i = index">{{i+1}} {{item}}</li>
</ul>  

<!-- first and last -->
<ul>
    <li *ngFor="let item of fruits; let f=first ; let l= last">  
        <strong *ngIf="f">First: </strong> 
        <strong *ngIf="l">Last: </strong>
        {{item}}
    </li>
</ul>  


<!-- even odd -->
<ul>
    <li 
      *ngFor="let item of fruits; let e = even; let o = odd" 
      [ngClass]="{ 'even-item': e, 'odd-item': o }">
      <strong *ngIf="e">even: </strong>
      <strong *ngIf="o">odd: </strong>
      {{item}}
    </li>
  </ul>
  

